# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
*.png
*.pt

# System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

*.npy

# Outputs - ignore everything except specific mesh files
outputs/*
!outputs/*/
outputs/*/*
!outputs/*/colored_meshes/
outputs/*/colored_meshes/*
!outputs/*/colored_meshes/mesh_initial.ply
!outputs/*/colored_meshes/mesh_final_correspondence.ply

logs/

# Data folder - large files, don't track
data/

# External dependencies
nvdiffrast/